# ########################################################### #
# this file is maintained by ansible-miniconda                #
# see: https://github.com/pridkett/ansible-miniconda          #
# changes may be overwritten by future invocations of ansible #
# ########################################################### #

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('{{miniconda_vars.home}}/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "{{ miniconda_vars.home }}/etc/profile.d/conda.sh" ]; then
        . "{{ miniconda_vars.home }}/etc/profile.d/conda.sh"
    else
        export PATH="{{ miniconda_vars.home }}/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<