# ########################################################### #
# this file is maintained by ansible-miniconda                #
# see: https://github.com/pridkett/ansible-miniconda          #
# changes may be overwritten by future invocations of ansible #
# ########################################################### #

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
eval {{ miniconda_vars.home }}/bin/conda "shell.fish" "hook" $argv | source
# <<< conda initialize <<<

{% if miniconda_vars['fish_right_prompt'] == False %}
functions -e fish_right_prompt
{% endif %}

{% if miniconda_vars['fish_path_reorder'] == True %}
# this fix is required because of the way that fish sometimes reorders the paths
# it will make it so paths that are not system paths appear first
# see: https://github.com/fish-shell/fish-shell/issues/5456#issuecomment-453869011
function path-reordered -d "Echos the elements of $PATH, reordered such that custom paths precede standard system paths. This can be used to work around a fish 3.0.0 bug in which sub-shells fail to respect path ordering."
  set -l sys_paths
  set -l seen_paths

  for p in $PATH
    if not contains $p $seen_paths
      set -a seen_paths $p
      if string match -q -r '^/usr/|^/s?bin(/|$)' $p
        set -a sys_paths $p
      else
        echo $p
      end
    end
  end

  for p in $sys_paths; echo $p; end
end

set PATH (path-reordered)
{% endif %}
